/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 28px 240px;
  font-family: Aileron;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  background-color: #8514F1;
  color: #fff;
}

::selection {
  background-color: #8514F1;
  color: #fff;
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.u-flex-column-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.u-flex-align-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.u-center {
  text-align: center;
}

.pri-heading {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  line-height: 54px;
  font-family: "Open Sans";
  color: #fff;
  margin-bottom: 10px;
}

.sec-heading {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 25px;
  font-family: "Open Sans";
  color: #fff;
}

.text-400-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  color: #2C0750;
}

.text-400-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.65px;
  color: #2C0750;
}

.text-400-16 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 25.89px;
}

.text-800-32 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.text-600-32 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  color: #2C0750;
  margin-top: 50px;
  text-align: center;
}

.text-600-24 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  font-family: "Open Sans";
  color: #2C0750;
  margin-top: 50px;
}

.btn-1 {
  height: 71px;
  border-radius: 10px;
  padding: 23px 62px;
}

.btn-2 {
  width: 222px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 15px;
  border-radius: 10px;
  padding: 23px 62px;
}

.btn-3 {
  width: 255px;
  height: 70px;
  border-radius: 5px;
  padding: 23px 62px;
}

.btn-primary {
  background-color: #8514F1;
  color: #fff;
  margin-right: 24px;
  font-size: 18px;
  font-family: 700;
  line-height: 24.51px;
}

.btn-secondary {
  background-color: #fff;
  color: #8514F1;
  border: 1px solid #8514F1;
  font-size: 18px;
  font-family: 700;
  line-height: 24.51px;
}

.btn h6 {
  font-size: 18px;
  font-family: 700;
  line-height: 24.51px;
}

.btn-social-icon {
  margin-right: 22.4px;
  margin-top: 10.65px;
  width: 29px;
  height: 29px;
}

.card-section {
  margin-top: 69px;
}

.card-box {
  width: 250px;
  height: 312px;
  padding: 24px 23px 9px 24px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 2px 15px rgba(33, 33, 33, 0.11);
          box-shadow: 0px 2px 15px rgba(33, 33, 33, 0.11);
  background: #fff;
}

.card-box h6 {
  font-size: 18px;
  font-weight: 700;
  color: #161616;
  font-family: 'Open sans';
  margin: 40px 0 2px 0;
}

.card-box__icon {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  color: #8514F1;
  border: 3px solid #8514F1;
}

.card-box__text {
  width: 203px;
  height: 120px;
  line-height: 22.65px;
  font-size: 14px;
  color: #616161;
  font-weight: 400;
  text-align: center;
}

.card__why {
  margin-top: 104px;
}

.feature-box {
  height: 235px;
  border-radius: 20px;
  padding: 48px 32px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
}

.feature-box h4 {
  font-size: 32px;
  line-height: 38px;
  color: #0D0D0D;
  font-style: normal;
  font-weight: 900;
}

.feature-box__1 {
  width: 383px;
}

.feature-box__2 {
  width: 370px;
}

.feature-box__3 {
  width: 334px;
}

.form-sub {
  width: 910px;
  height: 90px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.form-sub__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 33px;
  border: none;
}

.form-sub ::-webkit-input-placeholder {
  color: #c0c0c0;
}

.form-sub :-ms-input-placeholder {
  color: #c0c0c0;
}

.form-sub ::-ms-input-placeholder {
  color: #c0c0c0;
}

.form-sub ::placeholder {
  color: #c0c0c0;
}

.form-wallet {
  width: 1004px;
  height: 80px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 80px;
  color: #000;
}

.form-wallet h6 {
  color: #2C0750;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.section-about {
  margin: 121px 140px 263px 141px;
}

.section-about__left {
  padding-top: 103px;
}

.section-about__right {
  height: 585px;
  width: 528px;
  border: 2px solid #D6B1FA;
  margin-left: 52px;
  padding: 11px 40px 26px 40px;
}

.section-about__right h3 {
  margin: 0;
}

.section-features {
  padding: 0 148px;
  margin-bottom: 242px;
}

.section-start h2 {
  font-weight: 900;
}

.section-start__grey {
  color: #0D0D0D;
  line-height: 57.6px;
  font-size: 48px;
}

.section-start__purple {
  color: #8514F1;
  line-height: 67.2px;
  font-size: 56px;
  margin-bottom: 56px;
}

.section-start__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 185px;
}

.section-why {
  margin-bottom: 253px;
  padding: 0 128px 0 129px;
}

.section-sub {
  background-color: #E7D0Fc;
  width: 1026px;
  height: 253px;
  border-radius: 10px;
  margin-left: 197px;
  margin-bottom: 200px;
}

.section-sub__container {
  color: #0D0D0D;
}

.section-sub__container__header {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 32px;
}

.section-sub__container__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 17px;
}

.heading-primary {
  font-size: 52px;
  line-height: 67.2px;
  color: #2C0750;
  font-weight: 900;
  margin-bottom: 26px;
}

.heading-primary__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}

.heading-paragraph {
  color: #4B4B4B;
}

.heading-secondary {
  font-size: 38px;
  line-height: 48px;
  font-weight: 900;
  text-align: center;
  background: linear-gradient(240.762deg, #8514F1 29.23%, #F9408E 118.26%);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.right-box {
  width: 408px;
  position: relative;
  margin-bottom: 24px;
}

.right-box-text {
  font-size: 14px;
  font-weight: 400;
  color: #414141;
  position: absolute;
  left: 0;
  top: 0;
}

.right-box-input {
  width: 340px;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 10px;
}

.right-box ::-webkit-input-placeholder {
  color: #B7B7B7;
  font-weight: 400;
  font-size: 12px;
  line-height: 161.8%;
}

.right-box :-ms-input-placeholder {
  color: #B7B7B7;
  font-weight: 400;
  font-size: 12px;
  line-height: 161.8%;
}

.right-box ::-ms-input-placeholder {
  color: #B7B7B7;
  font-weight: 400;
  font-size: 12px;
  line-height: 161.8%;
}

.right-box ::placeholder {
  color: #B7B7B7;
  font-weight: 400;
  font-size: 12px;
  line-height: 161.8%;
}

.right-box__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-box__img__photo {
  width: 217px;
  height: 204px;
  border: 1px soslid #000;
  margin-top: 16px;
}

.section-wallet {
  height: 424px;
  background-color: #8514F1;
  color: #fff;
}

.section-wallet-text {
  margin-bottom: 30px;
}

.section-airdrop {
  width: 1145px;
  height: 330px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
  margin: -75px 147px 0 148px;
  padding-top: 40px;
  z-index: 100;
}

.section-airdrop__header h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  font-family: Aileron;
  color: #2C0750;
  margin-bottom: 5px;
}

.section-airdrop__header h6 {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 400;
  color: #414141;
}

.section-airdrop__amount {
  margin-top: 34px;
  width: 1004px;
}

.section-airdrop__amount h6 {
  font-size: 18px;
  font-weight: 700;
  color: #2C0750;
  line-height: 22px;
  font-family: Aileron;
  margin-bottom: 10px;
  line-height: 21.6px;
}

.section-airdrop__amount__div {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #2C0750;
  padding: 24px 0 27px 21px;
  margin-bottom: 23px;
  overflow: hidden;
}

.section-airdrop__amount__div h5 {
  color: #616161;
  font-size: 24px;
  line-height: 29;
  font-weight: 700;
}

.section-airdrop h6 span {
  color: #6F11C9;
}

.section-question {
  padding: 80px 107px 30.49px 100px;
}

.section-question__content {
  width: 690px;
  height: 109px;
  color: #2C0750;
  margin-left: 287px;
  margin-bottom: 43.5px;
}

.section-question__header {
  font-size: 32px;
  font-weight: 800;
  font-family: "Open Sans";
  line-height: 120%;
}

.section-question__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.section-question__accordion hr {
  width: 1240px;
  height: 3px;
  background: #DDDDDD;
  padding: 1.5px 0;
}

.section-ready {
  height: 283px;
  padding: 53px 0;
  margin-bottom: 100px;
  background-color: #E7D0Fc;
}

.section-ready__header {
  color: #6F11C9;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  font-family: "Open Sans";
  margin-bottom: 10px;
}

.section-ready__text {
  color: #2C0750;
  font-size: 14px;
  line-height: 22.65px;
  margin-bottom: 30px;
}

.question {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  color: #2C0750;
  margin: 25.5px 0 35.5px 0;
}

.answer {
  margin: -9px 0 25.5px 0;
}

.doc {
  background-color: #8514F1;
  height: 305px;
  padding-top: 70px;
}

.doc-step {
  padding: 0 100px;
  margin-top: 50px;
}

.doc-step__heading ol {
  margin-bottom: 97px;
}

.doc-step__heading-text {
  height: 98px;
}

.doc-step__process {
  font-size: 24px;
  font-weight: 600;
  color: #2C0750;
  line-height: 120%;
  margin-bottom: 16px;
}

.doc-steps {
  margin-bottom: 151px;
}

.doc-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -47px;
}

.doc-nav__content {
  height: 95px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  padding: 12px;
  --bs-breadcrumb-divider: '';
}

.doc-nav__btn {
  border-radius: 50px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
  font-family: "Open Sans";
}

.doc-nav__btn-1 {
  padding: 19px 45px;
}

.doc-nav__btn-1__link {
  color: #2C0750;
  text-decoration: none;
}

.doc-nav__btn-2 {
  border: 1px solid #8514F1;
  padding: 19px 74.5px;
  border-radius: 50px;
}

.doc-nav__btn-2__link {
  color: #8514F1;
  text-decoration: none;
  margin-left: 74.5px;
}

.doc-nav__btn-3 {
  padding: 19px 45px;
  border: 1px solid #8514F1;
  border-radius: 50px;
}

.doc-nav__btn-3__link {
  color: #8514F1;
  text-decoration: none;
}

.doc-nav__btn-4 {
  padding: 19px 74.5px;
  border-radius: 50px;
}

.doc-nav__btn-4__link {
  color: #8514F1;
  text-decoration: none;
  margin-left: 74.5px;
}

.header {
  padding: 28px 0 10px 85px;
  height: 119px;
}

.header-content {
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 81px;
  height: 51px;
  margin-top: 0;
  padding: 0;
  margin-right: 428px;
}

.header-nav {
  height: 51px;
}

.header-nav__link {
  text-decoration: none;
}

.header-nav__link h6 {
  margin-right: 30px;
  color: #2C0750;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans';
  line-height: 25px;
}

#collapse {
  position: relative;
  display: inline-block;
}

#collapse .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background-color: #8514F1;
  width: 1440px;
  min-height: 385px;
  color: #fff;
}

.footer-header {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  margin-bottom: 10px;
}

.footer-left {
  margin-left: 149px;
  margin-top: 56px;
  width: 436px;
}

.footer-right {
  margin-top: 82px;
  margin-right: 276px;
}

.footer-text {
  line-height: 161.8%;
  font-family: 'Open Sans';
  font-weight: 600;
  margin-bottom: 43px;
}

.footer-social__link p {
  margin-bottom: 5px;
}

.footer__subheader {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-link__link {
  margin-top: 17px;
  font-weight: 600;
  line-height: 161.8%;
  font-family: 'Open Sans';
}

.footer-link__link:link, .footer-link__link:visited {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */