.doc {

    background-color: $color-primary;
    height: 305px;
    padding-top: 70px;

  &-step {
      padding: 0 100px;
      margin-top: 50px;

    &__heading {

        & ol {
            margin-bottom: 97px;
        }
    }

    &__process {
        font-size: $font-24;
        font-weight: $weight-600;
        color: $color-primary-dark;
        line-height: 120%;
        margin-bottom: 16px;
    }
  }

  &-steps {
      margin-bottom: 151px;
  }

  &-nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: -47px;

    &__content {
        // width: 602px;
        height: 95px;
        border-radius: 50px;
        box-shadow: $default-shadow;
        background-color: $color-white;
        padding: 12px;
        // margin-left: 419px;

        --bs-breadcrumb-divider: '';
    }


      &__btn {
          border-radius: 50px;
          font-size: $font-24;
          font-weight: $weight-600;
          line-height: 32.68px;
          font-family: $sans-family;

          &-1 {
            padding: 19px 45px;
            
            &__link {
                color: $color-primary-dark;
                text-decoration: none;
            
                }

            }

            &-2 {
                border: $default-border;
                padding: 19px 74.5px;
                border-radius: 50px;

                &__link {
                    color: $color-primary;
                    text-decoration: none;
                    margin-left: 74.5px;
                }
            }

            &-3 {
                padding: 19px 45px;
                border: $default-border;
                border-radius: 50px;

                &__link {
                    color: $color-primary;
                    text-decoration: none;
                }
            }

            &-4 {
                padding: 19px 74.5px;
                border-radius: 50px;

                &__link {
                    color: $color-primary;
                    text-decoration: none;
                    margin-left: 74.5px;
                }
            }
      }

  }
}