.header {
    padding: 28px 0 10px 85px;
    height: 119px;

    &-content{
        height: 51px;
        display: flex;
        align-items: center;
    }

    &-logo {
        width: 81px;
        height: 51px;
        margin-top: 0;
        padding: 0;
        margin-right: 428px;
    }

    &-nav {
        // float: none;
        // position: absolute;
        // top: 50%;
        // left: 40%;
        // transform: translate(-50%, -505);
        height: 51px;

        &__link {

            text-decoration: none;

            & h6 {
                margin-right: 30px;
                color: $color-primary-dark;
                font-size: 18px;
                font-weight: 700;
                font-family: 'Open Sans';
                line-height: 25px;
            }
        }
    }
}

#collapse {
    position: relative;
    display: inline-block;

    & .header-nav {
        display: flex;
    }
}


// FOR THE WALLET CONNECT PAGE

.wallet {

    &-header {
        padding: 24px 120px 11px;

        &__logo {
            height: 56px;
            width: 89px;
        }
    }

    &-account {

        &__type {
            // width: 134px;
            height: 56px;
            border-radius: 38px;
            box-shadow: 0px 1px 20px $rgba-33;
            padding: 8px 16px 8px 8px;

        }

        &__icon {
            width: 40px;
            height: 40px;
            border-radius: 36px;
            // background: linear-gradient(180deg, #8A92B2 0%, #62688F 45.31%, #454A75 100% );
            margin-right: 4px;
        }

        &__name {
        }
    }

    &-details {
        // width: 221px;
        height: 56px;
        box-shadow: 0px 1px 20px $rgba-33;
        padding: 8px 16px 8px 8px;
        border-radius: 38px;
        margin-left: 8px;

        & img {
            height: 34px;
            width: 34px;
            background-color: $color-primary;
            border-radius: 50px;
            margin: 0 8px 0 11px;
        }

        &__amount {

        }

        &__address {

        }
    }
}